{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css" />
  </head>
  <body>
    <div class="container row">
      <div class="col"></div>
      <div class="col">
        <h3 class="mb-5 mt-5">Register</h3>
        <form action="/register" method="POST">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input class="form-control" type="text" name="username" />
            <span style="color: red">{{ .Form.Errors.Get "username" }}</span>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              class="form-control"
              id="password"
              type="password"
              name="password" />
            <span style="color: red">{{ .Form.Errors.Get "password" }}</span>
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Confirm Password</label>
            <input
              class="form-control"
              type="password"
              name="confirmpassword" />
            <span style="color: red"
              >{{ .Form.Errors.Get "confirmpassword" }}</span
            >
          </div>
          <input class="btn btn-primary" type="submit" value="Register" />
        </form>
        <p class="mt-3">Already registered? <a href="/login">Login</a></p>
      </div>
      <div class="col"></div>
    </div>
  </body>
</html>
{{ end }}
