{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register</title>
</head>
<body>
	<h3>Register</h3>
	<form action="/register" method="POST">
		Username: <input type="text" name="username"><br>
		<span style="color: red;">{{ .Form.Errors.Get "username" }}</span><br><br>
		Password: <input type="password" name="password"><br><br>
		<span style="color: red;">{{ .Form.Errors.Get "password" }}</span><br><br>
		Confirm Password: <input type="password" name="confirmpassword"><br><br>
		<span style="color: red;">{{ .Form.Errors.Get "confirmpassword" }}</span><br><br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>
{{ end }}